
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 container h-100">
      <div class="row">
        <div class="col-12 my-3 d-flex justify-content-center">
          <i class="bi bi-info-circle mt-2 me-2" style="cursor: pointer; font-size: 20px;" (click)="handleInfoButtonClick()"></i>
          <div class="title-box title-color mt-2">
            Khromle
            <!-- <span class="title-char-k" >K</span>
            <span class="title-char-h" >h</span>
            <span class="title-char-r" >r</span>
            <span class="title-char-o" >o</span>
            <span class="title-char-m" >m</span>
            <span class="title-char-l" >l</span>
            <span class="title-char-e" >e</span> -->
          </div>
        </div>
      </div>

      <div class="row">
        <app-input-items [userString]="userString"></app-input-items>
      </div>

      <div class="row">
        <div class="col-12 d-flex align-items-center flex-column guess-color-box">
          <!-- COLOR TO BE GUESSED -->
          <app-color-item (handleShareVictory)="shareVictory()" class="w-100 mt-2"></app-color-item>

          <!-- {{ color }} -->

          <!-- USER GUESS TRIES -->
          <div class="col-12 mt-4 min-vh-50 play-container">
            <app-user-attempts class="w-100"></app-user-attempts>
          </div>

          <div class="col-12 pb-2">
            <app-virtual-keyboard 
              *ngIf="gameStatus !== 'VICTORY'" 
              (handleInput)="handlePlayDigit($event)" 
              (handleDelete)="handlePlayBack()" 
              (handleSubmit)="handlePlaySubmit()" 
              [userString]="getUserStringValue()"
            >
            </app-virtual-keyboard>
          </div>

        </div>
      </div>
      


    </div>
  </div>
</div>

<div class="modal modal-container" tabindex="-1" role="dialog" [ngStyle]="{'display': dialogDisplay}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header pb-1 ">
        <h2 class="modal-title mb-0">Welcome to Khromle</h2>
        <button #closeBtn class="float-right close-modal-btn" (click)="handleInfoButtonClick()">X</button>
      </div>
      <div class="modal-body">
        <p class="mb-1">Khromle is a TAROKKATA of Chromle, a Wordl inspired game of colours! The objective is to guess the <b style="color: red">R</b><b style="color: green">G</b><b style="color: blue">B</b> code of the colour displayed in the central panel. 
          Every day you will be given a new colour to guess. Today's colour is
        </p>
        <div class="today-color" [style.background-color]="color"></div>

        <p class="mt-1">With each guess you will receive hints guiding you towards the answer in the form of colours under the groups (<b style="color: red">R</b>, <b style="color: green">G</b> and <b style="color: blue">B</b>) or the digits of your guess. 
          <mark class="highlighted-color" style="background-color: #48bb78; font-size: 16px;"><b>GREEN</b></mark> groups are quite correct, and <mark class="highlighted-color" style="background-color: #f6e05e; font-size: 16px;"><b>YELLOW</b></mark> groups are very, very close. <mark class="highlighted-color" style="background-color: orange; font-size: 16px;"><b>ORANGE</b></mark> ones mean they are practically the same number as the target group, 
          while <mark class="highlighted-color" style="background-color: #f56565; font-size: 16px;"><b>RED</b></mark> groups are a little off but still in reach. <mark class="highlighted-color" style="background-color: #b794f4; font-size: 16px;"><b>PURPLE</b></mark> identifies digits that would have been or are correct in a different position but is only 
          shown when no other hints are present for the digit or group in that position. <mark class="highlighted-color" style="background-color: #edf2f7; font-size: 16px; color: black"><b>WHITE</b></mark> digits are entirely incorrect.
        </p>

        <ul>
          <li class="col-12 px-1 mt-2 user-attempt-list-item">
            <div style="background-color: #FA3436" class="user-attempt-grid">
              <div class="user-attempt-item">
                <p>F</p>
                <div class="tip-box very-very-close-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p>A</p>
                <div class="tip-box very-very-close-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p>3</p>
                <div class="tip-box incorrect-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p>4</p>
                <div class="tip-box bad-position-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p>3</p>
                <div class="tip-box very-close-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p>6</p>
                <div class="tip-box very-close-input">
                </div>
              </div>
            </div>
          </li>
        </ul>

        <p>The game is over when you have guessed the correct colour code. Which, for the previous example, would have been:</p>
        
        <ul>
          <li class="col-12 px-1 mt-2 user-attempt-list-item">
            <div style="background-color: #FBFB46" class="user-attempt-grid">
              <div class="user-attempt-item">
                <p style="color: black">F</p>
                <div class="tip-box correct-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p style="color: black">B</p>
                <div class="tip-box correct-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p style="color: black">F</p>
                <div class="tip-box correct-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p style="color: black">B</p>
                <div class="tip-box correct-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p style="color: black">4</p>
                <div class="tip-box correct-input">
                </div>
              </div>
              <div class="user-attempt-item">
                <p style="color: black">6</p>
                <div class="tip-box correct-input">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <a style="text-decoration: none" href="https://chromle.vercel.app/" target="_blank">
          <span style="color: #B83280; font-size: 20px; font-weight: bold;">C</span>
          <span style="color: #3182ce; font-size: 20px; font-weight: bold;">h</span>
          <span style="color: #6B46C1; font-size: 20px; font-weight: bold;">r</span>
          <span style="color: #ECC94B; font-size: 20px; font-weight: bold;">o</span>
          <span style="color: #D69E2E; font-size: 20px; font-weight: bold;">m</span>
          <span style="color: #F687B3; font-size: 20px; font-weight: bold;">l</span>
          <span style="color: #9F7AEA; font-size: 20px; font-weight: bold;">e</span>
        </a>

        <button (click)="resetGuesses()">HARD RESET</button>

        <button type="button" class="btn btn-success" (click)="handleInfoButtonClick()">
          Play!
        </button>
      </div>
    </div>
  </div>
</div>