.play-container {

  height: 47vh;  
  @media (max-height: 851px) {
    height: 45vh;
  }
  @media (max-height: 740px) {
    height: 35vh;
  }
  @media (max-height: 667px) {
    height: 30vh;
  }

  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0.5em;
    // background-color: rgb(83, 59, 74);
    border-radius: 5px;

  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(23, 180, 201);
    border-radius: 5px;
    &:active {
      border: solid gray 1px;
    }
  }
}

.title-box {
  // position: absolute;
  font-size: 2em;
  font-weight: bold;
  
  // animation: 1.5s linear 1 pageOpened; 

  // @keyframes pageOpened {
  //   0%   { font-size: 50em; top: 50%}
  //   20%  { font-size: 30em; top: 40%}
  //   40%  { font-size: 15em; top: 30%}
  //   60%  { font-size: 8em; top: 20%}
  //   80%  { font-size: 5em; top: 10%}
  //   100% { font-size: 2em; top: 00%}
  // }
}

.modal-container {

  .modal-dialog {
    // height: 80vh;
    // @media (max-height: 700px) {
    //   height: 63vh;
    // }

    // overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0.3em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(211, 55, 151);
    }

    // width: 25%;
    margin-top: 80px;
    .modal-content {
      font-size: 18px;
      background-color: rgb(36, 32, 32) !important;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(45, 230, 230, 0.781);

      .modal-header {
        border-bottom: none !important;

        .close-modal-btn {
          border: solid transparent 2px;
          background-color: transparent;
          color: white;
          border-radius: 5px;
          padding: 4px 8px;
          cursor: pointer;

          &:hover {
            background-color: lightgray;
            color: black
          }
          &:focus {
            border: solid lightblue 2px;
            border-radius: 5px;
          }
        }
      }

      .modal-body {
        .today-color {
          width: 100%; 
          height: 50px;
          border-radius: 5px;
        }

        .highlighted-color {
          border-radius: 5px;
        }

        ul {
          list-style: none;
          padding: 0;
        
          li {
        
            &.user-attempt-list-item {
              &:first-child {
                margin: 0 !important;
              }
        
              .user-attempt-grid {
                transition: padding 0.4s;
        
                display: grid;
                border-radius: 5px;
                grid-template-columns: auto auto auto auto auto auto;
                padding: 1px 5px 0;
              
                .user-attempt-item {
                  padding: 11px 1px 1px 1px;
                  font-size: 15px;
                  text-align: center;
                }
              }
            }
        
          }
        }   
      }
      .modal-footer {
        border: none !important;
      }
    }
  }
}

.title-color {
  animation: colorChangeK 6s infinite;

  @keyframes colorChangeK {
    0% { color: #B83280 }
    14% { color: #3182ce }
    28% { color: #6B46C1 }
    42% { color: #4bec7b }
    66% { color: #D69E2E }
    78% { color: #F687B3 }
    100% { color: #9F7AEA }
  }
}

// .title-char-k {
//   animation: colorChangeK 6s infinite;

//   @keyframes colorChangeK {
//     0% { color: #B83280 }
//     14% { color: #3182ce }
//     28% { color: #6B46C1 }
//     42% { color: #4bec7b }
//     66% { color: #D69E2E }
//     78% { color: #F687B3 }
//     100% { color: #9F7AEA }
//   }
// }
// .title-char-h {
//   animation: colorChangeH 6s infinite;

//   @keyframes colorChangeH {
    
//     0% { color: #B83280 }
//     14% { color: #3182ce }
//     28% { color: #6B46C1 }
//     42% { color: #4bec7b }
//     66% { color: #D69E2E }
//     78% { color: #F687B3 }
//     100% { color: #9F7AEA }
//   }
// }
// .title-char-r {
//   animation: colorChangeR 6s infinite;

//   @keyframes colorChangeR {
    
//     0% { color: #B83280 }
//     14% { color: #3182ce }
//     28% { color: #6B46C1 }
//     42% { color: #4bec7b }
//     66% { color: #D69E2E }
//     78% { color: #F687B3 }
//     100% { color: #9F7AEA }
//   }
// }
// .title-char-o {
//   animation: colorChangeO 6s infinite;

//   @keyframes colorChangeO {
    
//     0% { color: #B83280 }
//     14% { color: #3182ce }
//     28% { color: #6B46C1 }
//     42% { color: #4bec7b }
//     66% { color: #D69E2E }
//     78% { color: #F687B3 }
//     100% { color: #9F7AEA }
//   }
// }
// .title-char-m {
//   animation: colorChangeM 6s infinite;

//   @keyframes colorChangeM {
    
//     0% { color: #B83280 }
//     14% { color: #3182ce }
//     28% { color: #6B46C1 }
//     42% { color: #4bec7b }
//     66% { color: #D69E2E }
//     78% { color: #F687B3 }
//     100% { color: #9F7AEA }
//   }
// }
// .title-char-l {
//   animation: colorChangeL 6s infinite;

//   @keyframes colorChangeL {
    
//     0% { color: #B83280 }
//     14% { color: #3182ce }
//     28% { color: #6B46C1 }
//     42% { color: #4bec7b }
//     66% { color: #D69E2E }
//     78% { color: #F687B3 }
//     100% { color: #9F7AEA }
//   }
// }
// .title-char-e {
//   animation: colorChangeE 6s infinite;

//   @keyframes colorChangeE {
//     0% { color: #B83280 }
//     14% { color: #3182ce }
//     28% { color: #6B46C1 }
//     42% { color: #4bec7b }
//     66% { color: #D69E2E }
//     78% { color: #F687B3 }
//     100% { color: #9F7AEA }
//   }
// }

.initial-visual-meme-container {
  height: 0;
  width: 100%;
  background-color:  rgb(36, 32, 32) !important;
  position: absolute;
  top: 0;
  left: 0;

  color: white;
  font-size: 2em;
  z-index: 1056;

  animation: slide-up-container 5.8s linear;

  @keyframes slide-up-container {
    0% { height: 100vh; }
    40% { height: 100vh; }
    90% { height: 100vh; }
    100% { height: 0; }
  }

  .phrase-container {
    position: absolute;
    visibility: hidden;
    line-height: 1em;
  }

  .phrase-1 {
    animation: phrase1 2s linear;
    @keyframes phrase1 {
      25% { opacity: 0.8;} 
      50% { opacity: 0.4;} 
      75% { opacity: 0.2;} 
      100% { opacity: 0; visibility: visible; } 
    }
  }
  .phrase-2 {
    animation: phrase2 2s 2s linear;
    visibility: hidden;
    @keyframes phrase2 {
      25% { opacity: 0.8;} 
      50% { opacity: 0.4;} 
      75% { opacity: 0.2;} 
      100% { opacity: 0; visibility: visible; } 
    }
  }
  .phrase-3 {
    animation: phrase3 1.8s 4s linear;
    visibility: hidden;
    @keyframes phrase3 {
      25% { opacity: 0.8;} 
      50% { opacity: 0.4;} 
      75% { opacity: 0.2;} 
      100% { opacity: 0; visibility: visible; }
    }
  }
}