.input-button {
  cursor: pointer;
  border: solid transparent 1px;
  border-radius: 5px;
  text-align: center;
  background-color: #600f60;
  color: white;
  font-size: 20px;
  padding: 0.6em;
  margin: 2px;
  // margin: 1px;

  &:hover {
    // border-color: white;
    background-color: #812693;
     &.disabled {
      background-color: #600f6021;
     }
    
    // background-color: #600f6021;
  }

  &:active {
    background-color: #932693;
    animation-name: buttonPushed;
    animation-duration: 0.2s;
    // scale: 0.9;
  }
  @keyframes buttonPushed {
    25% {scale: 0.8; } 
    50% {scale: 0.7; } 
    75% {scale: 0.9; } 
    100% {scale: 1; } 
  }

  &.enter-button {

    border-color: fuchsia;
    
    &.disabled {
      background-color: #600f6021;
      border-color: transparent;
      cursor: no-drop;
  
      &:hover {
        border-color: gray !important;
      }
  
      &:active {
        background-color: #600f6021;
      }
    }
  }
}

.keyboard-container {
  padding: 1em;
  position: fixed;
  width: calc(100vh - 519px);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 1em;
  background-color: rgb(36, 32, 32) !important;
}