/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: rgb(36, 32, 32) !important;
  color: white !important;
}

     
.tip-box {
  width: 100%;
  height: 0.6em;
  
  &.incorrect-input {
    background-color: #edf2f7;
  }
  &.correct-input {
    background-color: #48bb78;
  }
  &.very-far-input {
    background-color: #b794f4;
  }
  &.far-input {
    background-color: #f56565;
  }
  &.very-close-input {
    background-color: #f6e05e;
  }
  &.close-input {
    background-color: #ed8936;
  }
}